$ascender: 80%;
$descender: 10%;

/* regular */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  ascent-override: $ascender;
  descent-override: $descender;
  src: url("https://github.com/uswds/public-sans/blob/develop/fonts/webfonts/PublicSans-Regular.woff")
}
