@media screen {
  @page {
    size: 210mm 297mm;
  }
  .page {
    box-shadow: 0cm .3cm 2cm rgba(0, 0, 0, .2);
    border: 1pt solid #d1d1d1;
    width: 210mm;
    height: 297mm;
  }
}

.page {
  // They correspond to an A4 format with 150 dpi.
  width: 1240px;
  height: 1755px;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0 50px;
  margin: 0;
  border: none;
  overflow: hidden;
  box-sizing: border-box;
}
